<div class="container-main">
  <div class="main-content">
    <img src="../assets/Writting Emoji.svg" alt="Writting Emoji">
    <div class="text-div">
      <p>Faça algo mágico...</p>
      <span>Ache sempre tudo em um só lugar!</span>
    </div>
    <div class="search-div">
      <div class="input-container">
        <img src="../../../../assets/SearchIcon.svg" alt="">
        <input class="input-field" type="text" placeholder="Faça algo mágico"
        (keyup)="search($event)"
        (blur)="cancel()"
        spellcheck="false">
      </div>
      <div class="result" *ngIf="results">
        <div class="divider"></div>
        <app-item *ngFor="let result of results$ | async" [comunity]="result"></app-item>
      </div>
    </div>
  </div>
</div>